{% extends "blog/base.html" %}
{% block content %}
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Coin Game</title>
    {% load static %}
{% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
<link rel="stylesheet" href="{% static 'blog/styles2.css' %}">
</head>
<body>
    <h1>Coin Game</h1>
    <p>
        <h3>
        Welcome to the Coin Game!<br>
    </h3>
    <h4>
        You have 6 coins, each initially 3heads 3 tails.<br>
        You can divide these coins into two piles such that no of heads and tails in both pile should be same.<br> Catch is u cant see the coins you can just flip them or keep as it is.<br>
        The Catch is you can't see coins still can you make number of heads and tails same in both piles?
    <h4>
    </p>
    <form id="gameForm" method="post">
        {% csrf_token %}
        {% for form in forms %}
            <div>
                <label>Coin {{ forloop.counter }}:</label>
                {{ form.flips }}
                {{ form.piles }}
            </div>
        {% endfor %}
        <button type="button" onclick="submitGameForm()">Submit</button>
    </form>
    <div id="result"></div>


</body>
</html>
{% endblock content %}